https://www.basketball-reference.com/leagues/NBA_2019_totals.html

In [123]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [124]:
player_salaries = pd.read_csv (r'/Users/juanmarin/IronHack/pipeline-proj/data/nbasalaries.csv')

In [125]:
player_salaries.head()

                name       salary
0      Stephen Curry  $37,457,154
1  Russell Westbrook  $35,665,000
2         Chris Paul  $35,654,150
3       LeBron James  $35,654,150
4         Kyle Lowry  $32,700,000

In [145]:
player_stats = pd.read_csv (r'/Users/juanmarin/IronHack/pipeline-proj/data/Book2.csv')

In [146]:
player_stats.head(5)

,Rk,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,...,Unnamed: 19,OWS,DWS,WS,WS/48,Unnamed: 24,OBPM,DBPM,BPM,VORP
0,1,Álex Abrines\abrinal01,SG,25,OKC,31,588,6.3,0.507,0.809,...,NaN,0.1,0.6,0.6,0.053,NaN,-3.7,0.4,-3.3,-0.2
1,2,Quincy Acy\acyqu01,PF,28,PHO,10,123,2.9,0.379,0.833,...,NaN,-0.1,0.0,-0.1,-0.022,NaN,-7.6,-0.5,-8.1,-0.2
2,3,Jaylen Adams\adamsja01,PG,22,ATL,34,428,7.6,0.474,0.673,...,NaN,-0.1,0.2,0.1,0.011,NaN,-3.8,-0.5,-4.3,-0.2
3,4,Steven Adams\adamsst01,C,25,OKC,80,2669,18.5,0.591,0.002,...,NaN,5.1,4.0,9.1,0.163,NaN,0.7,0.4,1.1,2.1
4,5,Bam Adebayo\adebaba01,C,21,MIA,82,1913,17.9,0.623,0.031,...,NaN,3.4,3.4,6.8,0.171,NaN,-0.4,2.2,1.8,1.8

In [147]:
player_stats.columns

Index(['Rk', 'Player', 'Pos', 'Age', 'Tm', 'G', 'MP', 'PER', 'TS%', '3PAr',
       'FTr', 'ORB%', 'DRB%', 'TRB%', 'AST%', 'STL%', 'BLK%', 'TOV%', 'USG%',
       'Unnamed: 19', 'OWS', 'DWS', 'WS', 'WS/48', 'Unnamed: 24', 'OBPM',
       'DBPM', 'BPM', 'VORP'],
      dtype='object')

In [148]:
player_stats.drop(["Unnamed: 19", "Unnamed: 24", "Rk"], axis=1, inplace = True)

In [149]:
player_stats.head(5)

,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,FTr,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
0,Álex Abrines\abrinal01,SG,25,OKC,31,588,6.3,0.507,0.809,0.083,...,7.9,12.2,0.1,0.6,0.6,0.053,-3.7,0.4,-3.3,-0.2
1,Quincy Acy\acyqu01,PF,28,PHO,10,123,2.9,0.379,0.833,0.556,...,15.2,9.2,-0.1,0.0,-0.1,-0.022,-7.6,-0.5,-8.1,-0.2
2,Jaylen Adams\adamsja01,PG,22,ATL,34,428,7.6,0.474,0.673,0.082,...,19.7,13.5,-0.1,0.2,0.1,0.011,-3.8,-0.5,-4.3,-0.2
3,Steven Adams\adamsst01,C,25,OKC,80,2669,18.5,0.591,0.002,0.361,...,12.6,16.4,5.1,4.0,9.1,0.163,0.7,0.4,1.1,2.1
4,Bam Adebayo\adebaba01,C,21,MIA,82,1913,17.9,0.623,0.031,0.465,...,17.1,15.8,3.4,3.4,6.8,0.171,-0.4,2.2,1.8,1.8

In [150]:
player_stats['Player'] = player_stats['Player'].apply(lambda x: str(x).split("\\")[0])

In [151]:
player_stats.head()

,Player,Pos,Age,Tm,G,MP,PER,TS%,3PAr,FTr,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
0,Álex Abrines,SG,25,OKC,31,588,6.3,0.507,0.809,0.083,...,7.9,12.2,0.1,0.6,0.6,0.053,-3.7,0.4,-3.3,-0.2
1,Quincy Acy,PF,28,PHO,10,123,2.9,0.379,0.833,0.556,...,15.2,9.2,-0.1,0.0,-0.1,-0.022,-7.6,-0.5,-8.1,-0.2
2,Jaylen Adams,PG,22,ATL,34,428,7.6,0.474,0.673,0.082,...,19.7,13.5,-0.1,0.2,0.1,0.011,-3.8,-0.5,-4.3,-0.2
3,Steven Adams,C,25,OKC,80,2669,18.5,0.591,0.002,0.361,...,12.6,16.4,5.1,4.0,9.1,0.163,0.7,0.4,1.1,2.1
4,Bam Adebayo,C,21,MIA,82,1913,17.9,0.623,0.031,0.465,...,17.1,15.8,3.4,3.4,6.8,0.171,-0.4,2.2,1.8,1.8

In [152]:
player_stats.rename(columns = {"Player":"name"}, inplace=True)

In [153]:
stats_and_sal = pd.merge(player_stats,
                  player_salaries[['name', 'salary']],
                  on ='name')
stats_and_sal.head()

,name,Pos,Age,Tm,G,MP,PER,TS%,3PAr,FTr,...,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP,salary
0,Quincy Acy,PF,28,PHO,10,123,2.9,0.379,0.833,0.556,...,9.2,-0.1,0.0,-0.1,-0.022,-7.6,-0.5,-8.1,-0.2,"$213,948"
1,Jaylen Adams,PG,22,ATL,34,428,7.6,0.474,0.673,0.082,...,13.5,-0.1,0.2,0.1,0.011,-3.8,-0.5,-4.3,-0.2,"$236,854"
2,Steven Adams,C,25,OKC,80,2669,18.5,0.591,0.002,0.361,...,16.4,5.1,4.0,9.1,0.163,0.7,0.4,1.1,2.1,"$24,157,304"
3,Bam Adebayo,C,21,MIA,82,1913,17.9,0.623,0.031,0.465,...,15.8,3.4,3.4,6.8,0.171,-0.4,2.2,1.8,1.8,"$2,955,840"
4,Deng Adel,SF,21,CLE,19,194,2.7,0.424,0.639,0.111,...,9.9,-0.2,0.0,-0.2,-0.054,-6.0,-1.6,-7.5,-0.3,"$77,250"

In [154]:
stats_and_sal.to_csv(r'/Users/juanmarin/IronHack/pipeline-proj/data/comb.csv', index = False)

In [155]:
len(stats_and_sal)

619